.button:active{
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #2036b3;
    color: #fff;
}

.button.operation:active {
    background-color: #2036b3cc;
}